*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgb(170, 185, 193),rgb(171, 171, 230));
}

header{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15vh;
    text-align: center;
}

div{
    border: solid gray;
    border-radius: 15vh;
    padding: 20%;
    margin-inline: 5vw;
}

